.header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding: 20px,10%;
    background-color:#213363;
    display:flex;
    justify-content:flex-start;
    align-items: center;
    z-index: 100;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.h1{
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.back{
    background-color: rgb(255, 255, 255);
}

.logo{
    border-radius: 40px;
    padding: 22px;
    padding-left: 20px;
}

.navigation a{
    font-size: 20px;
    color: aliceblue;
    font-weight: bold;
    text-decoration: none;
    padding-right: 68px;
    padding-left: 40px;
    transition: 5s;
}

.navigation a::before{
    content: '';
    position: absolute;
    top: 0;
    left:0;
    width: 0;
    height:100%;
    background: rgb(22, 37, 37);
    z-index:-1;
    transition: 3s;
}

.welcome{
    padding-top: 60px;
}

.mainBanner{
    padding-top: 100px;
    padding-left: 40px;
    background-color: #17594A;
    align-items: center;
}

.mainBanner h3{
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: medium;
    color: aliceblue;
}

.numberGoal{
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 60px;
    color:rgb(138, 255, 187);
    
}

.secondBanner{
    padding-left: 130px;
    padding-bottom: 40px;
    font-size: 60px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    margin-right: 120px;
    color: aliceblue;
    align-items: center;
    position: relative;
    padding-right: 68px;
    padding-left: 40px;
    transition: 5s;
}

.objective h2{
    align-self: center;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 52px;
    font-weight: 800;
    padding-top: 10px;
    padding-left: 10px;
}

.objective{
    align-items: center;
    font-family: 'Barlow', sans-serif;
    font-size: 24px;
    padding-left: 10px;
}

.card img {
    display: block; /* Make the image a block element */
    margin: 0 auto; /* Center the image horizontally within the container */
    border-radius:10px ;
    margin-top: 8px;
}


.objective2{
    background-color: #8EAC50;
    color:white;
    align-items: center;
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
    padding: 20px;
    border-radius: 20px;
    margin: 5px;
}
.objective2 h2{
    padding-left: 10px;
    padding-top: 5px;
}

.challenges{
    background-color: rgb(0, 0, 0);
    color:white;
    align-items: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 20px;
    border-radius: 20px;
    margin: 5px;
}
.challenges a{
    color: rgb(166, 225, 166);
}
.challenges img{
    width: 200px;
    height: 130px;
    float: right; /* Float the image to the right */
    margin-left: 10px;
    margin-bottom:100px;
}

.more{
    background-color: aliceblue;
    color: rgb(80, 179, 80);
}

.contactCard{
    background-color: #8EAC50;
    color:white;
    align-items: center;
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
    padding: 20px;
    border-radius: 20px;
    margin: 5px;
    margin-top: 50px;

}